.main-block {
  padding-top: 45px;
  padding-bottom: 45px;
}

.add-task-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &__title {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: rgba(255, 255, 255, 0.47);
    margin-bottom: 15px;
  }

  &__btn {
    position: absolute;
    right: 17%;
    background-color: #F3BBC5;

    &:hover {
      background-color: #f3d1d8;
    }
  }
}

.input-block {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__input {
    min-width: 300px;
    padding: 10px 20px;
    width: 50%;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.61);
    border-radius: 30px;
  }
}

.tasks-wrapper {
  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 100px;

  &__completed {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}


.task-item {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: $border-radius;
  background-color: #20212C;

  &__name {
    font-size: 20px;
    font-weight: 400;
    margin-right: 15px;
    line-height: 20px;
    &--hidden {
      display: none;
    }
  }

  &__editing-field {
    display: none;

    &--active {
      display: block;
    }
  }

  &__checkbox {
    margin-right: 15px;
    -webkit-appearance: none;
    cursor: pointer;
    background-color: $dark-main-color;
    border: 2px solid $light-main-color;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 9px;
    border-radius: $border-radius;
    display: inline-block;
    position: relative;
    transition: all 0.2s ease-in-out;

    &:checked {
      background-color: $light-main-color;
      border-color: $light-main-color;

      &:after {
        content: '\2714';
        font-size: 17px;
        position: absolute;
        top: 0px;
        font-weight: 700;
        left: 50%;
        transform: translateX(-50%);
        color: $dark-main-color;
      }
    }
  }
}

.tasks-list {
  position: relative;
  width: 100%;

  &__item {
    margin-bottom: 10px;
  }
}

.task-item-controls {
  display: flex;
  gap: 10px;
  margin-left: auto;
}

@media(max-width: 991px) {
  .tasks-wrapper {
    grid-template-columns: 1fr;
    column-gap: 0px;
    row-gap: 30px;
  }

  .tasks {
    max-width: 70%;
  }

  .add-task-form {
    &__btn {
      position: initial;
      margin-left: 10px;
    }
  }
}

@media(max-width:768px) {
  .tasks {
    max-width: 100%;
  }
}

@media(max-width: 575px) {
  .input-block {
    display: flex;
    flex-direction: column;
  }

  .add-task-form {
    &__btn {
      margin-left: 0;
      margin-top: 10px;
      width: 50%;
    }
  }

  .task-item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 0;
    border-radius: 0;
    border-bottom: 1px solid #00000041;

    &__name {
      font-size: 15px;
      max-width: 83%;
      margin-right: 0;
      line-height: 17px;
    }
  }

  .tasks-list {
    flex-wrap: wrap;
    width: 100%;
  }

  .task-item-controls {
    width: 100%;
    justify-content: space-around;
    padding: 10px;
  }
}